@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --yellowish: #f6c453;
    --skin : #fefbe9;
    --orange : #f0a04b;
    --black :#183a1d;
    --light_grey : #e1eedd;
}
body{
    background-color: var(--skin);
    font-family: 'Roboto';
}
