@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --yellowish: #f6c453;
    --skin : #fefbe9;
    --orange : #f0a04b;
    --black :#183a1d;
    --light_grey : #e1eedd;
}
.card{

}
.avatar{

}
.avatar i{
    border: 2px solid black;
    margin: auto;
    margin-left: 5%;
}
.review-name{
    font-size: 1.3rem;

}
.stars{

}
.comment{

}