@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --yellowish: #f6c453;
    --skin : #fefbe9;
    --orange : #f0a04b;
    --black :#183a1d;
    --light_grey : #e1eedd;
}
.navbar{
    padding-top: 2%;
    padding-left: 2%;
    height: 80px;
    background-color: var(--light_grey);
}
.ham{
    display: none;
    cursor: pointer;
    
}
.ham-lines{
    width: 55px;
    padding: 1.5px;
    background-color: black;
    margin-bottom: 9px;
    border: none;
    /* display: none; */
}
nav{
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 600; */
    margin:0 auto;
    display:flex;
    flex-direction: row;
    width:100%;
}
.nav-left{
    font-weight: 800;
    color: var(--black);
    font-size: 1.7rem;
    width: 35%;
}
.nav-mid{
    font-weight: 570;
    color: var(--black);
    font-size: 1.2rem;
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2px;
    /* margin-left: 6%; */
}
.nav-mid div~div{
    margin-left: 4%;
}
.nav-right{
    color: var(--black);
    width: 20%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 2px;
}
.nav-right div{
    margin-left: 10%;
    cursor: pointer;
}
#hamburger{
    background-color: #f0a04b;
}
@media (max-width: 824px){
   .nav-wrapper{
       display: none;
   }
   .ham{
       display: block;
   }
}